@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #343a40;
    color: #fff;
    height: 100vh;
    padding-top: 20px;
}
.sidebar-header {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #4b545c;
}
.sidebar-menu {
    list-style-type: none;
    padding: 0;
}
.sidebar-menu li {
    padding: 10px 15px;
}
.sidebar-menu li a {
    color: #c2c7d0;
    text-decoration: none;
    display: block;
}
.sidebar-menu li:hover {
    background-color: #2c3136;
}

.container {
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

h1 {
    color: #1a1a1a;
    text-align: center;
    border-bottom: 2px solid #1a1a1a;
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #1a1a1a;
    color: white;
    font-weight: bold;
}

.section-title {
	background-color: #1a1a1a;
    color: white;
    font-weight: bold;
}

.edit-btn {
    background-color: #1a1a1a;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.edit-btn:hover {
    background-color: #333;
}

#big-btn {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #1a1a1a;
    color: white;
    border: none;
    cursor: pointer;
    margin: 20px auto 0;
    border-radius: 5px;
}

#confirmEdit:hover {
    background-color: #333;
}
