/* 전체 레이아웃 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


header {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 높이를 100%로 설정 */
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* 이미지를 비율에 맞게 조정 */

}